/* src\components\Header.css */

.header {
  background: url('../../public/images/backgrounds/lightHeader.svg') no-repeat center center;
  background-size: cover;
  transition: background 0.5s ease, color 0.5s ease;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0.5rem;
}

.header.light-mode {
  background: url('../../public/images/backgrounds/lightHeader.svg') no-repeat center center;
  background-size: cover;
}

.header.dark-mode {
  background: url('../../public/images/backgrounds/darkHeader.svg') no-repeat center center;
  background-size: cover;
}

.nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
  object-fit: cover;
}

.header.light-mode h1,
.header.light-mode .nav-link a {
  color: #333;
}

.header.dark-mode h1,
.header.dark-mode .nav-link a {
  color: #e4e0e0;
}

.header h1 {
  font-size: 1.5rem;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  margin: 0;
  padding-right: 2rem;
}

@media(max-width : 650px)
{
  .nav-links {
    padding-right : 0.5rem;
  }
}

.nav-link a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  position: relative;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link a:hover {
  color: #e0e0e0;
}

.nav-link a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.nav-link a:hover::after {
  width: 100%;
}

.nav-icon {
  display: inline-flex;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .nav-text {
    display: none;
  }
}
